:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.card{
  background-color: pink;
  border-radius: 10px;
  margin: 20px;
  padding: 15px;
  width: 400px;
}

.navbar{
  background-color: rgb(68, 70, 162);
  border-radius: 10px;
  margin: 20px;
  padding: 15px;
}

.maincard {
  padding: 20px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.parent {
  padding: 20px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.childcard{
  width: 300px;
  border: #fff5f5 1px solid;
  margin: 20px;
  text-align: center;
  background-color: #333;
  border-radius: 10px;
  padding: 20px;
}

.childcard img{
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.childcard p{
  margin: 20px 0px;
}

.childcard button{
  padding:10px 20px;
  border-radius: 10px;
  background-color: white;
  color: black;
  border: none;
}
.parent2{
  height: 100vh;
  width: 100%;
  padding: 30px;
  display: flex;
  gap : 30px;
  background-color: #111;
}
.card2 {
  display: flex;
  height: 400px;
  width: 300px;
  color : black;
  background-color: white;
  border-radius: 10px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 30px;
}

.card2 .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  /* background-color: red; */
}

.top img{
  height: 30px;
  width: 32px;
  border-radius: 50%;
  border: 1px solid black;
  padding: 5px;
}

.top button{
  display: flex;
  align-items: center;
  border: 1px solid #dadada;
  padding: 3px 8px;
  font-size: 11px;
  border-radius: 5px;
  gap: 5px;
  background-color: transparent;
  color: #b1b1b1;
}
.center{
  /* background-color: red; */
}
.center h3{
  font-size: 17px;
  font-weight: 500;
}

.center h2{
  font-size: 20px;
  font-weight: 500;
}

.center h3 span{
  font-size: 10px;
  font-weight: 400;
  color: #8b8b8b;
}
.center .tag{
  display: flex;
  gap: 5px;
}

.center .tag h4{
  font-size: 10px;
  font-weight: 500;
  margin-top: 10px;
  background-color: #dadada;
  color: #111;
  padding: 4px 8px;
  border-radius: 4px;
}
.bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1.5px solid #b1b1b1;
  padding: 10px 0px;
}

.bottom button{
   background-color: black;
   border: none;
   color: white;
   border-radius: 5px;
   padding: 5px 10px;
   column-width: 600;
}
